.idea/
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

local.properties
*.keystore
*.jks
*.pem
*.key
*.p12

*.class
*.jar
*.war
*.ear

**/build/generated/
**/build/tmp/
**/build/intermediates/

**/.compose-cache/

*.log

.DS_Store
Thumbs.db

*.apk
*.ap_
*.aab

captures/
